.creative {
  max-width: 1920px;
  position: relative;
  z-index: 5;
  margin: auto;
  background-color: black;
  padding-top: 116px;
  padding-bottom: 182px;
  color: #FFFFFF;
}

.creative__container {
  position: relative;
  overflow: hidden;
  max-width: calc(100% - 120px);
  margin: auto;
}

.creative__text {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: -0.01em;
  transition: all 1s;
}

.creative__title {
  position: relative;
  margin: 0;
  margin-top: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 400px;
  line-height: 360px;
  letter-spacing: -0.01em;
  transition: all 1s cubic-bezier(1, 0, 1, .32);
}

.creative__button {
  position: absolute;
  right: 122px;
  bottom: 17px;
}

.creative__title_one {
  transition: all 0.9s cubic-bezier(.39, 0, .16, .94);
}

.creative__title_two {
  transition: all 0.9s cubic-bezier(.39, 0, .16, .94);
  margin-top: 0px;
}

.line {
  height: 1px;
  background-color: #626262;
  transition: all 1s cubic-bezier(.39, 0, .16, .94);
  margin-left: 50px;
  width: 90%;
}

@media screen and (max-width:1919px) {
  .creative__title {
    font-size: 20vw;
    line-height: 20vw;
  }
}

@media screen and (max-width:1876px) {
  .creative__text {
    font-size: 1.5vw;
    width: 100%;
    white-space: nowrap;
  }
}

@media screen and (max-width:1380px) {
  .creative__text {
    font-size: 24px;
  }
}

@media screen and (max-width:1294px) {
  .creative__button {
    right: 0;
  }
}

@media screen and (max-width:900px) {
  .creative {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .creative__title {
    font-size: 140px;
  }
}

@media screen and (max-width:770px) {
  .creative__container {
    max-width: calc(100% - 60px);
  }

  .creative__title {
    font-size: 16vw;
    line-height: 15vw;
  }

  .creative__button {
    padding: 7px 17px 7px 17px;
    bottom: 5px;
  }
}

@media screen and (max-width:580px) {

  .creative__container {
    max-width: calc(100% - 20px);
  }

  .creative__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .line {
    width: 100%;
    margin-left: 0px;
    margin-top: 16px;
  }

  .creative__button {
    position: relative;
    width: 100%;
    padding: 13px 0 13px 0;
    margin-top: 48px;
  }

  .creative__title {
    font-size: 69px;
    line-height: 62px;
  }
}