.aumiInfo {
  max-width: 1920px;
  margin: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding-top: 479px;
  padding-bottom: 61px;
}

.aumiInfo__container {
  padding-left: 60px;
  max-width: 625px;
}

.aumiInfo__title__contant {
  display: flex;
  overflow: hidden;
  min-height: 71px;
}

.aumiInfo__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 68px;
  letter-spacing: -0.01em;
  transition: all 0.9s cubic-bezier(.39, 0, .16, .94);
}

.aumiInfo__title_ru {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 68px;
  letter-spacing: -0.01em;
}

.aumiInfo__title_two {
  margin-left: 16px;
}

.aumiInfo__text {
  max-width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 32px;
}

.aumiInfo__text_ru {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
  opacity: 0.7;
}

.aumiInfo__button {
  margin-top: 60px;
  width: 142px;
}

@media screen and (max-width:1440px) {
  .aumiInfo {
    padding-top: 28vw;
  }
}

@media screen and (max-width:1256px) {
  .aumiInfo__title {
    font-size: 4vw;
    line-height: 4vw;
  }

  .aumiInfo__title__contant {
    min-height: 45px;
  }

  .aumiInfo__text {
    font-size: 1.7vw;
  }
}

@media screen and (max-width:768px) {
  .aumiInfo__container {
    padding-left: 30px;
  }

  .aumiInfo__title_two {
    margin-left: 10px;
  }

  .aumiInfo__text {
    max-width: 250px;
    line-height: 1.7vw;
  }
}

@media screen and (max-width:720px) {
  .aumiInfo__title__contant {
    min-height: 33px;
  }

  .aumiInfo__title {
    font-size: 34px;
    line-height: 34px;
  }

  .aumiInfo__text {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width:580px) {
  .aumiInfo__title__contant {
    flex-direction: column;
  }

  .aumiInfo__title_two {
    margin-left: 0px;
  }

  .aumiInfo__title {
    font-size: 22px;
    line-height: 24px;
  }

  .aumiInfo__text {
    font-size: 14px;
    line-height: 18px;
    max-width: 200px;
  }

  .aumiInfo {
    padding-top: 154px;
  }
}

@media screen and (max-width:460px) {
  .aumiInfo__button {
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
  }
}