.works {
  padding-top: 70px;
  max-width: 1920px;
  margin: auto;
  color: #FFFFFF;
  background-color: black;
}

.works__container {
  max-width: calc(100% - 120px);
  margin: auto;
}

.works__titles {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 348px;
}

.works__titles::after {
  left: 27%;
  top: 54%;
  position: absolute;
  content: '';
  width: 36%;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.3;
}

.works__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 115px;
  letter-spacing: -0.01em;
}

.works__title_left {
  max-width: 520px;
  align-self: flex-start;
}

.works__title_right {
  max-width: 622px;
  align-self: flex-end;
}

.works__projects {
  padding-top: 100px;
}

.works__projects__title-block {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  justify-content: space-between;
}

.works__projects__title-block::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.3;
}

.works__projects__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 106px;
  letter-spacing: -0.01em;
}

.works__projects__title-block__format {
  display: flex;
  justify-content: space-between;
}

.works__projects__card {
  position: relative;
  padding-top: 60px;
  padding-bottom: 90px;
}

.works__projects__card::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.3;
}

.works__projects__card__container {
  display: flex;
  gap: 18px;
  padding-bottom: 95px;
}

.works__projects__card__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 62px;
  letter-spacing: -0.01em;
}

.works__projects__card__format {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.works__projects__card__info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.works__projects__card__info__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
}

.works__projects__card__text {
  max-width: 589px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.7;
}

.works__projects__card__imgs {
  display: flex;
  justify-content: space-between;
}

.works__projects__card__img {
  max-width: 49%;
}

.works__projects__card__img_kerpich {
  max-width: 100%;
}

.works__projects__card__img_bunka-big {
  max-width: 80%;
  object-fit: cover;
}

@media screen and (max-width:580px) {

  .works__container {
    max-width: calc(100% - 20px);
  }

  .works__titles {
    min-height: 207px;
    flex-direction: column;
    overflow: hidden;
  }

  .works__titles::after {
    left: 34%;
    top: 29%;
    width: 70%;
  }

  .works__titles::before {
    right: 42%;
    bottom: 24%;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 0.3;
  }

  .works__title {
    font-size: 40px;
    line-height: 36px;
  }

  .works__title_left {
    max-width: 188px;
  }

  .works__title_right {
    max-width: 188px;
  }

  .works__projects__title-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .works__projects__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 26px;
  }

  .format {
    font-size: 13px;
    line-height: 14px;
  }

  .format:first-child {
    margin-left: 0;
  }

  .works__projects__card{
    padding-bottom: 40px;
  }

  .works__projects__card__container {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .works__projects__card__info {
    width: 100%;
    align-items: flex-start;
  }

  .works__projects__card__info__container {
    flex-direction: column;
  }

  .works__projects__card__title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 25px;
  }

  .works__projects__card__batton {
    max-width: -webkit-fill-available;
    width: 100%;
    text-align: center;
  }

  .works__projects__card__text {
    font-size: 14px;
    line-height: 20px;
  }

  .works__projects__card__img_two {
    display: none;
  }

  .works__projects__card__img {
    max-width: 100%;
    width: 300px;
    height: 206px;
    object-fit: cover;
  }
}

@media screen and (max-width:483px) {

  .works__titles::after {
    left: 40%;
  }

  .works__titles::before {
    right: 49%;
  }
}

@media screen and (max-width:483px) {
  .works__titles::after {
    left: 45%;
  }

  .works__titles::before {
    right: 58%;
  }
}

@media screen and (max-width:353px) {
  .works__titles::after {
    left: 52%;
  }

  .works__titles::before {
    right: 66%;
  }
}