.works-vivaldis {
  padding-top: 100px;
  max-width: 1920px;
  margin: auto;
  background-color: black;
  color: white;
}

.works-vivaldis__container {
  max-width: calc(100% - 120px);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.works-vivaldis__titles__container {
  display: flex;
  gap: 200px;
  padding-bottom: 250px;
}

.works-vivaldis__title {
  max-width: 704px;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 128px;
  line-height: 115px;
  letter-spacing: -0.02em;
}

.works-vivaldis__title_red {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #C32037;
}

.works-vivaldis__title, span {
  flex: 0 0 auto;
  width: 100%;
}

.works-vivaldis__format {
  display: flex;
}

.works-vivaldis__info {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.works-vivaldis__info__text {
  max-width: 767px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.7;
}

.works-vivaldis__info__arrow-img {
  right: 0;
}

.works-vivaldis__imgOne {
  padding-top: 200px;
}

.works-vivaldis__imgOne__w100 {
  width: 100%;
}

.works-vivaldis__subtitle {
  margin: 0;
  margin-top: 250px;
  max-width: 1200px;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.01em;
}

.works-vivaldis__block__text {
  max-width: 556px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 300px;
}

.works-vivaldis__block__text__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
  margin-top: 90px;
  margin-bottom: 48px;
}

.works-vivaldis__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.7;
  align-self: flex-end;
}

.works-vivaldis__text_paragraph {
  margin-top: 30px;
}

.works-vivaldis__wordmark {
  position: relative;
  padding-top: 250px;
  display: flex;
  justify-content: space-between;
}

.works-vivaldis__wordmark__info__left {
  padding-top: 100px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.works-vivaldis__wordmark__info__left__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 50px;
}

.works-vivaldis__wordmark__info__left__text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.7;
}

.works-vivaldis__wordmark__info__right {
  display: flex;
  flex-direction: column;
}

.works-vivaldis__wordmark__ing {
  max-width: 100%;
  margin-bottom: 60px;
}

.works-vivaldis__wordmark__info__right__block {
  max-width: 596px;
}

.works-vivaldis__wordmark__info__right__block__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 50px;
}

.works-vivaldis__wordmark__info__right__block__text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.7;
}

@media screen and (max-width:568px) {

  .works-vivaldis {
    padding-top: 70px;
  }

  .works-vivaldis__container {
    max-width: calc(100% - 20px);
  }

  .works-vivaldis__titles__container {
    flex-direction: column;
    padding-bottom: 32px;
  }

  .works-vivaldis__title {
    font-size: 69px;
    line-height: 62px;
    position: relative;
    max-width: 230px;
    order: 2;
  }

  .works-vivaldis__title_red {
    font-size: 13px;
    line-height: 12px;
    position: absolute;
    bottom: 0px;
    left: 210px;
    max-width: 60px;
  }

  .works-vivaldis__titles__container {
    gap: 25px;
  }

  .works-vivaldis__format {
    order: 1;
  }

  .works-vivaldis__format_mobile {
    font-size: 13px;
    line-height: 13px;
    padding: 4px 35px 4px 35px;
  }

  .works-vivaldis__info__arrow-img {
    display: none;
  }

  .works-vivaldis__info__text {
    font-size: 16px;
    line-height: 22px;
  }

  .works-vivaldis__imgOne {
    padding-top: 40px;
  }

  .works-vivaldis__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-top: 32px;
  }

  .works-vivaldis__block__text {
    margin-right: 0;
  }

  .works-vivaldis__block__text__title {
    font-size: 20px;
    line-height: 18px;
    margin-top: 64px;
    margin-bottom: 16px;
  }

  .works-vivaldis__text {
    font-size: 16px;
    line-height: 22px;
  }

  .works-vivaldis__wordmark {
    padding-top: 32px;
    flex-direction: column;
  }

  .works-vivaldis__wordmark__info__left {
    position: relative;
    padding-top: 20px;
  }

  .works-vivaldis__wordmark__info__left__title {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 32px;
  }

  .works-vivaldis__wordmark__info__left__text {
    font-size: 16px;
    line-height: 22px;
  }

  .works-vivaldis__wordmark__info__right__block__title {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 32px;
  }

  .works-vivaldis__wordmark__info__right__block__text {
    font-size: 16px;
    line-height: 22px;
  }
}