.progress {
  max-width: 1920px;
  padding-bottom: 237px;
  margin: auto;
  background: #000000;
  color: #FFFFFF;
}

.progress__container {
  margin-left: 213px;
}

.progress__awards__container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1132px;
}

.progress__awards__title {
  max-width: 470px;
  margin: 0;
  margin-bottom: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.progress__awards__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.9s cubic-bezier(.39, 0, .16, .94);
}

.progress__awards__card__logo__img {
  position: relative;
  z-index: 10;
  width: 192px;
  object-fit: none;
  height: 192px;
  border-radius: 50%;
  background-color: #202020;
}

.progress__awards__card__text {
  margin-top: 3px;
  font-style: normal;
  max-width: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.01em;
}

.progress__technology {
  padding-top: 207px;
}

.progress__technology__container {
  max-width: calc(100% - 424px);
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.progress__technology__title {
  display: flex;
  flex-wrap: wrap;
  max-height: 51px;
  max-width: 352px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.52);
  transition: all 0.9s cubic-bezier(.39, 0, .16, .94);
}

.progress__technology__title_red {
  color: #b10e0e;
  min-width: 291px;
}

.progress__technology__info {
  margin-left: 332px;
  width: 100%;
}

.progress__technology__info__text {
  max-width: 603px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
}

.progress__technology__info__number {
  margin-top: 177px;
}

.progress__technology__info__number_100 {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 180px;
  letter-spacing: -0.01em;
  padding-bottom: 38px;
  transition: all 0.9s cubic-bezier(.39, 0, .16, .94);
}

.progress__technology__info__number_100::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: #FFFFFF;
  bottom: 0;
  left: 0;
}

.progress__technology__info__number__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 38px;
}

.progress__technology__info__number__conteiner {
  overflow: hidden;
  display: flex;
  margin-top: 95px;
  gap: 30px;
}

.progress__technology__info__number__content {
  flex: 1;
}

.progress__technology__info__number_small {
  font-style: normal;
  position: relative;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 128px;
  line-height: 115px;
  letter-spacing: -0.01em;
  transition: all 0.9s cubic-bezier(.39, 0, .16, .94);
}

.progress__technology__info__number_small::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: #FFFFFF;
  bottom: 0;
  left: 0;
}

.block {
  overflow: hidden;
}