.about {
  max-width: 1920px;
  margin: auto;
  background-color: black;
  color: #FFFFFF;
  padding-top: 170px;
  padding-bottom: 180px;
}

.about__container {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin: 0;
  margin-left: 763px;
  margin-top: 220px;
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 115px;
  letter-spacing: -0.01em;
  transition: all 0.9s cubic-bezier(.39, 0, .16, .94);
}

.about__text {
  max-width: 518px;
  margin-left: 763px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.9;
}

.about__img {
  display: flex;
  margin: auto;
  max-width: 100%;
  margin-top: 77px;
  margin-bottom: 77px;
}

.about__text_bottom {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.about__button__about {
  margin-left: 763px;
  margin-top: 58px;
}

@media screen and (max-width:580px) {
  .about__title {
    font-size: 61px;
    line-height: 58px;
    margin-left: auto;
    margin-right: auto;
  }

  .about__text {
    font-size: 14px;
    line-height: 21px;
    margin-left: 10px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .about__form {
    max-width: calc(100% - 20px);
    margin: auto;
  }

  .about__button__about {
    margin-left: 0px;
    width: 100%;
  }

  .about__img {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}