.news {
  padding-top: 50px;
  max-width: 1920px;
  margin: auto;
  background-color: black;
  color: #FFFFFF;
}

.news__title {
  margin: 0;
  margin-left: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 115px;
  letter-spacing: -0.01em;
}

.news__arrow__block {
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  margin-top: 550px;
  margin-bottom: 50px;
  height: 100px;
  margin-left: 60px;
}

.news__card {
  border-top: 1px solid #383838;
}

.news__card:last-child {
  border-bottom: 1px solid #383838;
}

.news__card__link {
  overflow-x: clip;
  position: relative;
  padding: 60px 0 60px 0;
  display: flex;
  color: #FFFFFF;
  transition: all 0.3s linear;
  justify-content: space-between;
}

.news__card__link:hover {
  color: black;
  background-color: #FFFFFF;
  transition: all 0.3s linear;
}

.news__card__link:hover .news__date {
  margin-right: 360px;
  transition: all 0.3s linear;
}

.news__card__link:hover .news__card__arrow {
  right: 20px;
  visibility: visible;
  transition: right 0.3s linear;
}

.news__card__link:hover .news__card__img {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s linear;
}

.news__date {
  margin-right: 60px;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  transition: all 0.3s linear;
}

.news__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.01em;
  max-width: 523px;
  margin-left: 60px;
  transition: all 0.3s linear;
}

.news__subtitle_one {
  margin-left: 0;
}

.news__card__arrow {
  position: absolute;
  visibility: hidden;
  right: -200px;
  width: 139px;
  height: 15px;
  align-self: center;
  margin-right: 60px;
  filter: invert(1);
}

.news__card__img {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 35%;
  top: -200px;
  max-width: 428px;
  max-height: 428px;
  transition: all 0.2s linear;
  z-index: 20;
}