.header {
  padding-top: 32px;
  background-color: black;
  max-width: 1920px;
  margin: auto;
  color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 120px);
  margin: auto;
}

.header__logo_invert {
  filter: invert(1);
}

.header__lenguich {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__lenguich__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  opacity: 0.7;
  margin-left: 104px;
  cursor: pointer;
}

.header__lenguich__text_black {
  color: black;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu_img {
  cursor: pointer;
}

.header__button {
  margin-right: 37px;
  padding: 10px 20px 10px 20px;
}

.header, .aumiInfo {
  background-image: url('../../images/fonarik.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header_bg {
  background-image: none;
}

.header_bg-erroe {
  background: none;
}

@media screen and (max-width:768px) {
  .header__container {
    max-width: calc(100% - 60px);
  }

  .header__lenguich__text {
    margin-left: 2em;
  }
}

@media screen and (max-width:568px) {
  .header__container {
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width:522px) {
  .header__button {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
  }
}

@media screen and (max-width:445px) {
  .header__logo {
    width: 40px;
    height: 40px;
  }

  .header__button {
    margin-right: 14px;
  }
}

@media screen and (max-width:356px) {
  .header__button {
    font-size: 10px;
  }
}