.work {
  position: relative;
  max-width: 1920px;
  margin: auto;
  background-color: white;
  padding-top: 250px;
}

.work__container {
  position: relative;
  padding-top: 200px;
  padding-bottom: 450px;
  max-width: calc(100% - 426px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work__card {
  z-index: 2;
  margin-bottom: 100px;
}

.work__card__img {
  margin-bottom: 10px;
}

.work__card:nth-child(2) {
  margin-top: 600px;
}

.work__card:nth-child(3n) {
  align-self: center;
}

.work__card:nth-child(4) {
  align-self: flex-end;
  margin-bottom: 500px;
}

.work__card__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}

.work__all {
  margin-top: 350px;
}

.work__all__container {
  position: relative;
  height: 1445px;
  max-width: calc(100% - 60px);
  margin: auto;
  padding-bottom: 200px;
}

.work__all__content {
  position: sticky;
  top: 25%;
  display: flex;
  justify-content: space-between;
  min-height: 257px;
}

.work__all__content::after {
  content: '';
  width: 1005px;
  height: 1px;
  top: 54%;
  left: 19%;
  position: absolute;
  background-color: #000000;
}

.work__all__text {
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 86px;
  letter-spacing: -0.01em;
}

.work__all__text_left {
  max-width: 552px;

}

.work__all__text_right {
  max-width: 433px;
  text-align: left;
  align-self: end;
}

.work__all__link {
  position: absolute;
  left: 43%;
  top: 1216px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  transition: all 0.3s linear;
}

.work__all__link:hover {
  background: #C32037;
  transition: all 0.3s linear;
}

.work__all__link_show {
  top: 20px;
  background-color: #fa9108;
}

.Work__text_bg {
  position: sticky;
  top: 25%;
  font-style: normal;
  font-weight: 400;
  font-size: 500px;
  line-height: 450px;
  letter-spacing: -0.01em;
  color: #000000;
}