.slider {
  position: relative;
  max-width: 1920px;
  padding-bottom: 255px;
  margin: auto;
  background: #000000;
}

.slider__container {
  position: relative;
  display: flex;
}

.slider__card {
  width: 25vw;
  max-width: 488px;
  height: 100%;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.slider__card__container {
  display: flex;
  justify-content: space-between;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__card__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-left: 30px;
}

.slider__card__title_ru {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.01em;
}

.slider__card__link {
  text-decoration: none;
  position: relative;
}

.slider__card__link:hover .slider__card__title {
  color: #000000;
  position: relative;
  z-index: 10;
}

.slider__card__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  min-width: 0;
  min-height: 100%;
  background-color: white;
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
}

.slider__card__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  min-width: 0;
  min-height: 100%;
  background-color: white;
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
}

.slider__card__link:hover::after {
  min-width: 50%;
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
}

.slider__card__link:hover::before {
  min-width: 51%;
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
}

.slider__card__arrow {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #979797;
  border-radius: 200px;
  background-color: #000;
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
  margin-right: 30px;
}

.slider__card__arrow__img_1 {
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
}

.slider__card__arrow__img_2 {
  transform: translate3d(-20px, 20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: absolute;
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
}

.slider__card__link:hover .slider__card__arrow__img_2 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: relative;
}

.slider__card__link:hover .slider__card__arrow__img_1 {
  transform: translate3d(25px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: absolute;
}

.slider__card_circle {
  display: flex;
  justify-content: center;
  height: 800px;
  position: relative;
}

.slider__card__img {
  align-self: center;
  max-width: 208px;
  max-height: 266px;
  animation: rotate 15.5s infinite linear;
  position: relative;
  z-index: -1;
}

.slider__card__img_bg-one {
  width: 0;
  left: 50%;
}

.slider__card__img_bg-two {
  width: 0;
  left: 50%;
}

.slider__card__img_bg-three {
  width: 0;
  left: 50%;
}

.slider__card_product:hover~.slider__card .slider__card__img_bg-one {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-image: url('../../images/bunka.png');
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
}

.slider__card_branding:hover~.slider__card .slider__card__img_bg-two {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-image: url('../../images/kirpich.png');
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
}

.slider__card_development:hover~.slider__card .slider__card__img_bg-three {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-image: url('../../images/home.png');
  transition: all 0.5s cubic-bezier(0, .34, 0, .94);
}

.slider__card__container_circle {
  max-width: 100%;
  max-height: 300px;
  align-self: center;
  position: relative;
  z-index: 9;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.follow-cursor {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #c9fd0d;
  border: 1px solid #c9fd0d;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  z-index: 999;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transition: all 0.1s linear;
}

.slider__card__cursor {
  max-width: 100%;
  align-self: center;
}

@media screen and (max-width:1440px){
  .slider{
    padding-bottom: 180px;
  }
}

@media screen and (max-width:1248px) {
  .slider__card__title {
    font-size: 2.5vw;
  }

  .slider__card__container {
    height: 600px;
  }

  .slider__card_circle {
    height: 600px;
  }
}

@media screen and (max-width:1023px) {
  .slider {
    padding-bottom: 155px;
  }

  .slider__card {
    width: 100%;
  }

  .slider__card_circle {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .slider__card__container {
    height: 400px;
  }

}

@media screen and (max-width:676px) {
  .slider__card__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slider__card__arrow {
    margin-right: 0px;
    margin-top: 3vw;
  }

  .slider__card__title {
    margin-left: 0px;
    font-size: 5vw;
  }
}

@media screen and (max-width:580px) {
  .slider__container {
    flex-direction: column;
  }

  .slider__card {
    max-width: 100%;
  }

  .slider__card__container {
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(100% - 20px);
    margin: auto;
    height: 150px;
  }

  .slider__card {
    border-right: none;
  }

  .slider__card__title {
    font-size: 22px;
    line-height: 20px;
  }

  .slider__card_circle {
    display: flex;
    height: 344px;
  }
}