.aumiForm {
  position: relative;
  max-width: 1920px;
  margin: auto;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: black;
}

.aumiForm_conact {
  border-top: 0;
}

.aumiForm_conact::after {
  content: '';
  width: 1px;
  height: 200%;
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: white;
}

.aumiForm__container {
  display: flex;
  justify-content: space-between;
}

.aumiForm__title {
  margin: 0;
  margin-left: 125px;
  max-width: 588px;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 86px;
  letter-spacing: -0.01em;
  height: 100%;
  align-self: center;
  transition: all 0.9s cubic-bezier(.39, 0, .16, .94);
}

.aumiForm__form {
  padding-top: 227px;
  padding-bottom: 87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-left: 1px solid #FFFFFF;
}

.aumiForm__form__input {
  background: none;
  width: 580px;
  max-width: 580px;
  margin-top: 30px;
  border: none;
  padding-bottom: 23px;
  color: #FFFFFF;
  border-bottom: 1px solid #787575;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.aumiForm__form__button {
  border: none;
  cursor: pointer;
  margin-top: 100px;
  background: #C32037;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

@media screen and (max-width:580px) {
  .aumiForm {
    border-top: none;
    border-top: 1px solid rgb(59, 59, 59);
    padding-top: 32px;
  }

  .aumiForm_conact::after {
    content: none;
  }

  .aumiForm__container {
    flex-direction: column;
  }

  .aumiForm__title {
    margin-top: 32px;
    font-size: 32px;
    line-height: 29px;
    margin-left: 0px;
  }

  .aumiForm__title span {
    display: flex;
    flex-direction: column;
  }

  .aumiForm__form {
    width: 100%;
    max-width: calc(100% - 20px);
    margin: auto;
    border-left: none;
    padding-top: 64px;
  }

  .aumiForm__form__input {
    width: 100%;
  }

  .aumiForm__form__button {
    width: 160px;
    height: 160px;
    margin-top: 64px;
  }
}